.content {
  padding: 0 10px;
  padding-bottom: 30px;
}

.title {
  padding: 20px 10px;
  text-align: center;
  font-size: 24px;
  color: blueviolet;
  background-color: rgba(0, 0, 0, 0.5);
}

.button {
  padding: 10px 20px;
  color: white;
  border: 2px solid blueviolet;
  box-shadow: 0 0 12px 4px blueviolet;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & > div {
    width: 100%;
  }
}

.infoBlock {
}

.infoMessage {
  color: white;
}
