.content {
  padding: 20px;
}

.title {
  padding: 20px 10px;
  text-align: center;
  font-size: 24px;
  color: blueviolet;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 1);
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;

  & input {
    background-color: transparent;
    font-size: 16px;
    color: white;
  }

  .fatsecretButton {
    align-self: center;
    max-width: 300px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #33b24b;
    background-color: #33b24b;
    border-radius: 20px;
    font-size: 16px;
    color: white;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    & svg {
      width: 40px;
      height: 40px;
      color: white;
    }

    &:hover {
      box-shadow: 0 0 20px 2px white;
    }
  }

  .avatar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .file {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: white;
      background: blueviolet;
      border-radius: 20px;

      &:hover {
        box-shadow: 0 0 20px 2px white;
      }

      .fileText {
        text-align: center;
        color: white;
        display: inline-block;
      }

      input[type="file"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
      }
    }

    .imageSkeleton {
      flex: 0 0 100px;
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      background-color: #e2e5e7;
      background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
      background-size: 40px 100%;
      background-repeat: no-repeat;
      background-position: left -40px top 0;
      animation: shine 1s ease infinite;

      @keyframes shine {
        to {
          background-position: right -40px top 0;
        }
      }
    }

    .image {
      flex: 0 0 100px;
      position: relative;
      width: 100px;
      height: 100px;

      img {
        position: absolute;
        border-radius: 50%;
        border: 1px solid blueviolet;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .error {
    color: rgb(197, 57, 57);
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid blueviolet;
    padding: 10px;

    .label {
      flex: 0 0 100px;
      border-right: 2px solid blueviolet;
      color: white;
      font-size: 16px;
      text-align: center;
    }

    .value {
      color: white;
      font-size: 16px;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .submits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    button {
      padding: 15px 20px;
      border-radius: 20px;
      color: white;
    }

    .buttonSave {
      background-color: blueviolet;
      font-size: 16px;
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &:hover {
        box-shadow: 0 0 20px 2px white;
      }
    }

    .buttonCancel {
      background-color: rgb(197, 57, 57);
      font-size: 16px;
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &:hover {
        box-shadow: 0 0 20px 2px white;
      }
    }
  }
}

//========================================================================================================================================================

.datepickerContainer {
  /* Стили для общего контейнера */
  // position: relative;
}

.centeredCalendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
