.section {
  display: flex;
  min-height: 100lvh;
  scroll-snap-align: center;
  perspective: 500px;
  border-bottom: 3px solid blueviolet;
}

.container {
  padding-top: 150px;
  flex: 1 1 100%;
  overflow: hidden;

  @media (width > 920px) {
    padding-top: 180px;
  }
}
