.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  box-shadow: 0 0 20px 2px blueviolet;
  border: 1px solid blueviolet;

  &.completed {
    opacity: 0.5;
  }

  .content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .taskTitle {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 16px;
    color: white;
    border-bottom: 2px solid blueviolet;
  }

  .taskDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: white;
  }

  .taskCheckbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .taskCheckbox + label {
    position: relative;
    height: 35px;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
  }

  .taskCheckbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: 2px solid blueviolet;
    border-radius: 50%;
    background-color: white;
  }

  .taskCheckbox:checked + label::before {
    background-color: blueviolet;
  }

  .taskCheckbox + label::after {
    content: "";
    background: url("/images/done.svg") no-repeat center; /* Выравнивание по центру */
    background-size: contain; /* Подгоняем размер */
    width: 30px; /* Убедитесь, что размеры достаточно велики */
    height: 30px;
    position: absolute;
    left: 3px; /* Измените значение для корректного отображения */
    top: 2px; /* Измените значение для корректного отображения */
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s; /* Плавный переход */
  }

  .taskCheckbox:checked + label::after {
    opacity: 1;
  }
}
