.main {
  display: flex;
  flex-direction: column;
  background-image: url("/images/фон.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.progress {
  position: fixed;
  top: 130px;
  left: 0;
  right: 0;
  height: 5px;
  background: blueviolet;
}

.section {
  display: flex;
  height: 100lvh;
  // height: calc(var(--vh, 1vh) * 100);
  // height: var(--app-height);
  padding-top: 130px;
  scroll-snap-align: center;
  perspective: 500px;
  border-bottom: 3px solid blueviolet;
}

.section > div {
  flex: 1 1 100%;
  overflow: hidden;
}
