.content {
  display: none;

  @media (min-width: 920px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
}

.list {
  position: absolute;
  top: calc(100% + 20px);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 30px 20px;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .taskCount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 7px;
  color: white;
  font-size: 20px;
  text-align: start;
  word-wrap: break-word; /* Позволяем переносу длинных слов */
  transition: all 0.3s ease-in-out;

  & svg {
    flex: 0 0 30px;
    width: 30px;
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.1);
    color: blueviolet !important;

    & svg {
      color: blueviolet;
    }
  }
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
  border-radius: 20px;
  background-color: rgba($color: blueviolet, $alpha: 0.2);

  &.visible svg {
    transform: rotate(90deg);
  }

  & svg {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: blueviolet;
  }

  &:hover svg {
    color: blueviolet;
    transform: rotate(90deg);
  }
}
