.form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;

  @media (width > 920px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  & input {
    background-color: transparent;
    font-size: 16px;
    color: white;

    @media (width > 920px) {
      width: 100%;
    }
  }

  .row {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid blueviolet;
    padding: 10px;
    border-radius: 10px;

    &.error {
      border-color: rgb(197, 57, 57);

      .label {
        border-right: 2px solid rgb(197, 57, 57);
      }
    }

    .label {
      flex: 0 0 150px;
      border-right: 2px solid blueviolet;
      color: white;
      font-size: 16px;
      text-align: center;
    }

    .value {
      flex: 1 1 100%;
      padding: 0 20px;
      color: white;
      font-size: 16px;

      &:focus {
        color: blueviolet;
      }
    }
  }

  span.error {
    text-align: center;
    color: rgb(197, 57, 57);

    @media (width > 920px) {
      grid-column: 1 / 4;
    }
  }

  .submits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    @media (width > 920px) {
      grid-column: 1 / 4;
    }

    button {
      padding: 15px 20px;
      border-radius: 20px;
      color: white;
    }

    .buttonSave {
      background-color: blueviolet;
      font-size: 16px;
      transition: box-shadow 0.3s ease-in-out;
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &:hover {
        box-shadow: 0 0 20px 2px white;
      }
    }

    .buttonCancel {
      background-color: rgb(197, 57, 57);
      font-size: 16px;
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &:hover {
        box-shadow: 0 0 20px 2px white;
      }
    }
  }
}
