.container {
  height: 100%;
  padding-top: 150px;

  @media (min-width: 920px) {
    padding-top: 180px;
  }

  .banner {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url("/images/background2.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 920px) {
      background-position: right;
    }

    .title {
      padding: 20px 10px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 24px;
      color: blueviolet;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .promise {
      display: flex;
      flex-direction: column;
      justify-self: flex-end;
      position: relative;
      gap: 20px;
      padding: 20px 10px 40px 10px;
      background-color: rgba(0, 0, 0, 0.7);
      border: 1px solid blueviolet;
      box-shadow: 0 0 20px 4px blueviolet;

      @media (min-width: 920px) {
        position: absolute;
        padding: 30px;
        left: 0;
        top: 20%;
        width: 50%;
        gap: 30px;
      }

      .me {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
        color: white;

        span {
          flex: 1 1 100%;
        }

        svg {
          flex: 0 0 20px;
        }
      }
    }
  }
}
