.title {
  padding: 20px 10px;
  text-align: center;
  font-size: 24px;
  color: blueviolet;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .button {
    padding: 15px 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    background-color: blueviolet;

    &:hover {
      box-shadow: 0 0 20px 2px white;
    }
  }

  .accept {
    padding: 15px 20px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(51, 178, 75);
    color: white;
    &:hover {
      box-shadow: 0 0 20px 2px white;
    }
  }

  .link {
    color: green;
    font-size: 16px;
    line-height: 2;
  }

  .text {
    color: white;
    text-align: center;
    line-height: 2;
  }

  .buttonBlock {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .input {
    min-width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid blueviolet;
    background-color: transparent;
    color: white;
    font-size: 16px;

    &::placeholder {
      color: white;
      font-size: 16px;
    }
  }
}
